.button{
    border: 0px none;
    width: 100%;
    height: fit-content;
    padding: 2px;
    background-color: rgba(200, 200, 200, 1);
    margin-bottom: 5px;
    display: flex;
    cursor: pointer;
}

.container{
    margin-top: 20px;
    height: auto;
}

.menu_name{
    margin-left: 10px;
    user-select: none;
}

.arrow_container{
    margin-left: 2px;
}

.items_container[open]{
    clip: rect(auto, auto, 10rem, auto);
    opacity: 1;
    max-height: 3000px;
    pointer-events: auto;
}

.items_container{
    pointer-events: none;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: opacity 500ms ease-in-out, max-height 250ms ease-in-out;
}