html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-image: url('/bg-fundo2.webp');
}



:root{
  --speed: 500ms;
  --dropdown-bg: #282325;
  --dropdown-border: 3px solid #555555;
  --dropdown-border-radius: 4px;
  --slider-width: vw;
  --slider-height: 100px;
  --slider-manual-position: calc(var(--slider-height) - 100% - 5px);
}

header {
  color: #FFFFFF;
}

p{
  margin: 0;
}

header{
  left: 0;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 100;
  float: left;
}

header .header_container{
  margin-bottom: 5px; 
  height: 60px;
  background: #282325;
  display: flex;
}

header .menu_container{
  margin: 0px 1rem 0px 1rem;
  width: fit-content;
}

header .title_container{
  display: flex;
  margin: 0px auto;
}

main{
  margin-top: 65px;
}

header .title_image{
  width: 60px;
  height: 60px;
  margin: 0px 0px;
  cursor: pointer;
}

h1{
  font-size: smaller;
}

footer {
  position: absolute;
  background: #282325;
  color: #fff;
  padding: 5px;
  margin-top: 40px;
  bottom: 0;
  width: 100%;
  display: none;
}

.footer-container{
  max-width: 768px;
  margin-left: 1rem;
}
  
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: inherit;
  text-decoration: none;
}

a.social {
  margin-right: 1rem;
  transition: transform 250ms;
  display: inline-block;
}

a.social:hover {
  transform: translateY(-2px);
}

a.facebook {
  color: white;
}

a.instagram {
  color: white;
}

.dropdown {
  position: absolute;
  top: 58px;
  width: 125px;
  background-color: var(--dropdown-bg);
  border: var(--dropdown-border);
  border-radius: var(--dropdown-border-radius);
  padding: 0.5rem;
  pointer-events: none;
  overflow: hidden;
  opacity: 0;
  transition: opacity var(--speed) ease-in-out, transform var(--speed) ease-in-out;
}

.dropdown[open] {
  opacity: 1;
  pointer-events: auto;
}

.dropdown.drop_from_right{
  transform: translate(29%, -25px);
}

.dropdown.drop_from_right[open]{
  transform: translate(29%, 5px);
}

.dropdown.drop_from_left{
  transform: translate(-29%, -25px);
}

.dropdown.drop_from_left[open]{
  transform: translate(-29%, 5px);
}

.menubar{
  padding: 6px;
}

.menu {
  width: 100%;
}

.menu-item {
  height: fit-content;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  transition: background var(--speed);
  padding: 0.5rem;
  cursor: pointer;
}

.menu-item .icon-button {
  margin-right: 0.5rem;
}

.menu-item .icon-button:hover {
  filter: none;
}

.menu-item:hover {
  background-color: #525357;
}

* {
  box-sizing: border-box;
}


.slider-btn-container{
  display: block;
  position: relative;
  cursor: pointer;
  padding: 5px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.slider-btn-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.slider-btn-container:not(:last-child){
  margin-right: 10px;
}

/* Create a custom radio button */
.slider-btn-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 13px;
  width: 13px;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
  transition: 500ms;
  background-color: white;
}

/* On mouse-over, add a grey background color */
.slider-btn-container:hover input ~ .slider-btn-checkmark {
  background-color:   ;
}

/* When the radio button is checked, add a blue background */
.slider-btn-container input:checked ~ .slider-btn-checkmark {
  background-color: grey;
}

.test{
  width: 100%;
  height: auto;
  max-height: 200px;
  border-radius: 10px;
}

.swiper-container{
  width: 100%;
  height: fit-content;
  border-radius: 10px;
}

.call-floater{
  height: 45px;
  width: 45px;
  position: fixed;
  bottom: 45px;
  right: 10px;
  z-index: 999999;
  padding: 5px;
  border-radius: 50%;
  border: 1px solid;
  border-color: #232022;
  background-color: #2F2F2F;
  vertical-align: middle;
}

img.item{
  height: 100%;
  width: auto;
}