.slider{
    width: 800px;
    height: 500px;
    border-radius: 10px;
}

.slides{
    width: 500%;
    height: 500px;
}


.section{
    width: 90%;
    margin: 20px auto;
    background-color: rgba(255,255,255,0.7);
    border-radius: 10px;
    border: 1px solid;
    padding: 10px;
}